/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

:root{
    font-size: 12px;
    line-height: 1.4;
    font-family: "Work sans",sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
/* global */
h1{
    font-size: 18px;
    color: #000000;
    margin-right: auto;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    width: 1140px;
    margin: auto;
}
.d-flex{
    display: flex;
}
.overlay{
    background: rgba(0, 0, 0, 0.658);
    height: 100%;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{ 
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.box-shadow{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
}

.bg-img{
    background-image: url(../images/xbg2.jpg.pagespeed.ic.QoUnFCtMkz.webp);
    background-size: cover;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;

}

/* elements */
.container .header-section{
    
    position: absolute;
}
.nav-bar{
    position: fixed;
    z-index: 300;
    margin: 0 auto;
    padding: 8px 16px 8px 16px;
    border-bottom: 1px solid white;
    flex-basis: auto;
}

.site-logo{
padding: 2px;
margin-right: 16px;
}

.site-logo h1{
    font-family: Raleway,sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.nav-bar ul{
    color: rgb(216, 210, 210);
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 45%;
    gap: 23px;
    max-width: 50%;
    margin-right: 25px;
    cursor: pointer;
}

.nav-bar li:hover{
    color: white;
}
.cards-area{
    position: relative;
    top: 520px;
    
    z-index: 150;
    max-width: 1140px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding: 0 20px;
       
}
.post-num{
    min-width: 80px;
}
.post-num p{
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    color: white;
    width: 55px;
    height: 55px;
    border: 4px solid #8d8d8d;
    border-radius: 50%;
}
.posts-area{
    width: 100%;
    padding: 0 15px;
    margin: 100px auto 0 auto;
    max-width: 1140px;
}

.content-posts-area{
    flex-wrap: wrap;
    
}
.right-side{
    flex: 0 0 62%;
    max-width: 62%;   
    width: 100%;
    flex-wrap: wrap;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.right-nav{
    border-bottom: 2px solid #cccfd3;
    padding: 10px 0;
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    gap: 27px;
}
.right-nav h1{
        font-size: 18px;
        color: #000000;
        margin-right: auto;
        font-weight: 700;
}
.right-posts-area{
    padding-top: 30px;
    max-width: 50%;
    flex-flow: column;
}

.right-col{
    position: relative;
    flex-flow: column;
    margin-bottom: 5px;
}
.post-content-1{
    padding: 20px 30px;
    text-align: left;
    margin-bottom: 10px;
}
.right-col h1{
    margin-bottom: 10px;
}
.right-col p{
    font-weight: 300;
    color: #8d8d8d;
}
.float-text{
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 50;
}
.float-text a{
    display: inline-block;
    background-color: #fff;
    padding: 0 10px;
    letter-spacing: 0.75px;
    font-family: "Ubuntu", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #00f;
    font-weight: 600;
}
.sliders{
    gap: 15px;
    font-size: 36px;
    color: #8d8d8d;
    max-width: 50%;
    margin:25px 0 0 10px;
}
.sliders i{
    width: 36px;
    height: 36px;
    border: 2px solid #8d8d8d;
    border-radius: 50%;
    line-height: 0.89;
    text-align: center;
    box-shadow: none;
}
.sliders i:hover{
    color:  white;
    background-color: rgb(75, 75, 238);
    cursor: pointer;
    border: none;
}
.left-col{
    flex: 0 0 50%;
    flex-flow: column;
    max-width: 50%;
    padding: 30px 15px 0 15px;

}
.post-card{
    margin-bottom: 5px;
}
.left-col h1{
    font-size: 14px;
}
.post-content-2{
    padding: 5px 30px 5px 5px;
    margin-bottom: 15px;
}