/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;    
}

:root{
    font-size: 12px;
    line-height: 1.4;
    font-family: "Work sans",sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
#scroll i{
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 400;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: 4rem;
    transition-duration: 500ms;
}
#scroll i:hover{
    background-color: #00f;
    color: #fff;           
}

/* global */
h1{
    font-size: 18px;
    color: #000000;    
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    width: 1140px;
    margin: auto;
}
.d-flex{
    display: flex;
}
.overlay{
    background: rgba(0, 0, 0, 0.658);
    height: 100%;
}
.brd-btm{
    border-bottom: 2px solid #f1f1f1;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{ 
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.box-shadow{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
}
.left-post-padding{
    padding: 10px 0 10px 30px;
}
.post-meta{
    text-align: center;
    color: #8d8d8d;
    font-size: 11px;
    line-height: 1.4;
}

/* elements */
.bg-img{
    background-image: url(../images/xbg2.jpg.pagespeed.ic.QoUnFCtMkz.webp);
    background-size: cover;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.nav-bar{       
    margin: 0 auto;
    padding: 8px 16px 8px 16px;
    border-bottom: 1px solid white;
    flex-basis: auto;
}

.site-logo{
    padding: 2px;
    margin-right: 16px;
}

.site-logo h1{
    font-family: Raleway,sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: white;
    letter-spacing: -2.1px;
    text-transform: uppercase;
}
.nav-bar ul{
    color: rgb(216, 210, 210);
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 45%;
    gap: 23px;
    max-width: 50%;
    margin-right: 25px;
    cursor: pointer;
}

.nav-bar li:hover{
    color: white;
}
.posts-area{
    width: 100%;
    
    margin: 100px auto 0 auto;
    max-width: 1140px;
}

.cards-area{
    position: absolute;
    top: 520px;    
    z-index: 150;
    max-width: 1140px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding: 0 20px;
}
.post-num{
    min-width: 80px;
}
.post-num p{
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    color: white;
    width: 55px;
    height: 55px;
    border: 4px solid #8d8d8d;
    border-radius: 50%;
}

.content-posts-area{
    flex-wrap: wrap;    
}

.right-side{
    flex: 0 0 67%;
    max-width: 67%;   
    flex-wrap: wrap;
        
}
.right-nav{
    border-bottom: 2px solid #f1f1f1;
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    gap: 27px;
}
.right-nav h1{
        font-size: 18px;
        color: #000000;
        margin-right: auto;
        font-weight: 700;
}
.right-posts-area{
    padding-top: 30px;
    margin-right: 12px;
    width: 48%;
    flex-flow: column;
}

.right-col{
    position: relative;
    flex-flow: column;
    margin-bottom: 5px;
}
.post-content-1{
    padding: 20px 30px;
    text-align: left;
    margin-bottom: 10px;
}
.right-col h1{
    margin-bottom: 10px;
}
.right-col p{
    font-weight: 300;
    color: #8d8d8d;
}
.float-text{
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 50;
}
.float-text a{
    display: inline-block;
    background-color: #fff;
    padding: 0 10px;
    letter-spacing: 0.75px;
    font-family: "Ubuntu", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #00f;
    font-weight: 600;
}
.sliders{
    gap: 15px;
    font-size: 36px;
    color: #8d8d8d;
    max-width: 50%;
    margin:25px 0 0 10px;
}
.sliders i{
    width: 36px;
    height: 36px;
    
    border-radius: 50%;
    line-height: -0.9;
    text-align: center;
    box-shadow: none;
}
.sliders i:hover{
    color:  white;
    background-color: rgb(75, 75, 238);
    cursor: pointer;
    
}
.left-col{
    flex: 0 0 48%;
    flex-flow: column;
     padding-top: 30px;
    
}
.post-card{
    margin-bottom: 5px;
}
.post-content-2 h1{
    font-size: 14px;
}
.post-content-2{
    padding: 5px 30px 5px 5px;
    margin-bottom: 15px;
}
.right-down-section{
    flex-wrap: wrap;
    margin-top: 5px;
}

.left-side{
    
    border-left: 2px solid #f1f1f1;
    flex: 0 0 32%;
    max-width: 32%;
    width: 100%;    
}
.left-posts-area{
    flex-direction: column;
    width: 100%;
    
}

.about-post p{
    margin-top: 25px;
    font-size: 14px;
    color: #8d8d8d;    
    line-height: 1.5;
    margin-bottom: 1rem;
}
.l-widget{
    flex-flow: column;

}
.l-cards{
    flex-direction: column;
}
.l-cards img{
    width: 37%;
}
.social-widget{
    flex-direction: column;
}
.social-icons{
    padding: 30px 0 30px 30px;
}
.social-icons i{
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 100%;
    border: 1px solid #f1f1f1;
}
.social-icons i:hover{
    color: #00f;
}

.news-widget{
    flex-direction: column;
}

.news-content{
    flex-direction: column;
    padding: 30px 0 30px 30px;
}
.topics-area{
    flex-wrap: wrap;
    margin-top: 50px;
    max-height: 250px;
}

        
.topic-content{
    flex-direction: column;
    text-align: center;
    position: absolute;
    
    top: 15px;
    bottom: 15px;
    right: 15px;
    left: 15px;        
}
.topic-1,.topic-2,.topic-3{
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    position: relative;    
    height: 189px;    
    display: block;
    display: flex;    
    flex-direction: column;
    width: calc(96%/3);
}

.topic-1{
    background-image: url(../images/topic1.webp);
}
.topic-2{
    background-image: url(../images/topic2.webp);
}
.topic-3{
    background-image: url(../images/topic3.webp);
}

.post-meta a{
    
    background-color: inherit;
    padding: 0;
    letter-spacing: 0.75px;
    font-family: "Ubuntu", sans-serif;
    font-size: inherit;
    text-transform: none;
    color: inherit;
    font-weight: 400;
}
.ld-more{
    display: block;
    margin: 50px auto;
    color: #8d8d8d;
    padding: 5px 20px;
    border: 1px solid #8d8d8d;
    text-align: center;
    border-radius: 4rem;
    font-size: 14px;
    transition-duration: 500ms;
}
.ld-more:hover{
    background-color: #00f;
    color: #fff;
    cursor: pointer;
}
